body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
.intro{
  width: 30%;
  margin: auto;
}

h1 {
  color: #66BFBF;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle{
  margin: 100px 0;
}
p{
  line-height: 2;
}

.topcloud{
  position: absolute;
  right:300px;
  top:50px;
}
.bottomcloud{
   position: absolute;
   left:250px;
   bottom:300px;

}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;

}
.code{
  width: 35%;
  float: left;
  margin-right: 30px;
}
.problem{
  width:40%;
  float: right;
  margin-left: 30px;
}
hr{

  border:dotted pink 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.contact{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
  background-image: -o-linear-gradient(top, #11cdd4, #11999a);
  background-image: linear-gradient(to bottom, #11cdd4, #11999a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}.bottom{
  background-color: #E4F9F5;
  padding: 50px 0 20px;
}
a{
color:  #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
  color:BLUE;
}
.copyright{
  color:#66BFBF;
font-size: 0.75rem;
}
